@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .border-effect {
        @apply border border-gray-100 shadow-2xl dark:border transition-all duration-500 z-50;
    }

}

.icon {
    @apply fill-black dark:fill-white;
}

.btn-theme {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-rendering: auto;
    height: 45px;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: #ffffff !important;
    display: inline-block !important;
    border: 0 !important;
    font-weight: 400 !important;
    background-image: linear-gradient(60deg, #0ea5ea 0%, #0bd1d1 45%, #0ea5ea 100%);
    cursor: pointer !important;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right center;
}
.btn-orange {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-rendering: auto;
    height: 45px;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: #ffffff !important;
    display: inline-block !important;
    border: 0 !important;
    font-weight: 400 !important;
    background-image: linear-gradient(60deg, #facc15 0%, #ca8a04 45%, #facc15 100%);
    cursor: pointer !important;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right center;
}
.btn-red {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-rendering: auto;
    height: 45px;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: #ffffff !important;
    display: inline-block !important;
    border: 0 !important;
    font-weight: 400 !important;
    background-image: linear-gradient(60deg, #fb7185 0%, #e11d48 45%, #fb7185 100%);
    cursor: pointer !important;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right center;
}


.button-remove {
    display: none !important;
}

.btn-theme:hover, .btn-orange:hover, .btn-red:hover {
    text-decoration: none;
    background-position: initial;
    color: #ffffff;
}

.select2 {
    width: 100% !important;
}

.select2-search__field, .select2-selection__choice__display{
    color: #000;
}

#selectTagParent span{
    color: #000;
}

.richtexteditor{
    height: 400px;
}


.select2-selection {
    background: #fff!important;
    border: none!important;
    border-bottom: 1px solid #22d3ee!important;
    padding-bottom: 15px!important;
    border-radius: 0!important;
}

.select2-search__field{
    height: 25px!important;
}

.text-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*width: 50px;*/
}

.text-truncate-line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more:hover .child{
    height: 40px;
    width: 40px;
}

/* CODE FOR TOOLTIP */
.custom-tooltip {
    position: relative;
}

.custom-tooltip .child::before {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translatex(-50%) rotate(-45deg);
    content: "";
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    border: 8px solid #f8f8f8;
    border-top-color: transparent;
    border-right-color: transparent;
    transition: 300ms;
}

.custom-tooltip:hover .child {
    opacity: 1;
}
