@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .border-effect {
        @apply border border-gray-100 shadow-2xl dark:border transition-all duration-500 z-50 sticky;
    }

}

body {
    font-family: "Poppins", sans-serif;
}

.icon {
    @apply fill-black dark:fill-white;
}

.fixed-container {
    width: 988px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 0 1rem;*/
}

@media screen and (max-width: 916px) {
    .fixed-container {
        width: 100%;
    }
}

.btn-theme {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-rendering: auto;
    height: 45px;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: #ffffff !important;
    display: inline-block !important;
    border: 0 !important;
    font-weight: 400 !important;
    background-image: linear-gradient(60deg, #0ea5ea 0%, #0bd1d1 45%, #0ea5ea 100%);
    cursor: pointer !important;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right center;
}

.btn-orange {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-rendering: auto;
    height: 45px;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: #ffffff !important;
    display: inline-block !important;
    border: 0 !important;
    font-weight: 400 !important;
    background-image: linear-gradient(60deg, #facc15 0%, #ca8a04 45%, #facc15 100%);
    cursor: pointer !important;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right center;
}

.btn-red {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-rendering: auto;
    height: 45px;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto;
    color: #ffffff !important;
    display: inline-block !important;
    border: 0 !important;
    font-weight: 400 !important;
    background-image: linear-gradient(60deg, #fb7185 0%, #e11d48 45%, #fb7185 100%);
    cursor: pointer !important;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-position: right center;
}


.button-remove {
    display: none !important;
}

.btn-theme:hover, .btn-orange:hover, .btn-red:hover {
    text-decoration: none;
    background-position: initial;
    color: #ffffff;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*width: 50px;*/
}

.text-truncate-line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-line-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-line-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-line-9 {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-line-7 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more:hover .child {
    height: 40px;
    width: 40px;
}

.select2 {
    width: 100% !important;
}

.select2-search__field, .select2-selection__choice__display {
    color: #4b5563;
}

#selectTagParent span {
    color: #4b5563;
}

.select2-selection {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #22d3ee !important;
    border-radius: 0 !important;
    padding: 10px 11px !important;
    min-height: auto;
}

.select2-selection ::placeholder {
    color: #9ca3af !important;
    opacity: 1 !important; /* Firefox */
}

.select2-selection ::-ms-input-placeholder { /* Edge 12-18 */
    color: #9ca3af !important;
}


.select2-selection__clear {
    display: flex;
    align-items: center;
}

.select2-search__field {
    height: 25px !important;
}

.select2-selection__choice {
    background-color: #22d3ee !important;
    border: none !important;
}

.select2-selection__choice__display {
    padding: 0 5px !important;
}

.select2-selection__choice__remove {
    border-right: 1px solid #dedede !important;
}

.dark .select2-search__field, .dark .select2-selection__choice__display {
    color: #fff !important;
}

.select2-selection__choice__remove:hover {
    background-color: #22d3ee !important;
}

.select2-selection__choice span {
    color: #fff !important;
}

.richtexteditor {
    background-color: transparent !important;
    border: 1px solid #22d3ee !important;
    height: 400px;
}

rte-toolbar {
    border-bottom: 1px solid #22d3ee !important;
}

rte-line-break {
    border-bottom: 0.0625rem solid #22d3ee !important;
}

rte-content {
    background-color: #ffffff !important;
    border-bottom: 1px solid #22d3ee !important;
}

rte-toolbar-button svg {
    stroke: #06b6d4 !important;
}

rte-toolbar-splitbutton-direct svg {
    stroke: #06b6d4 !important;
}

rte-toolbar-arrowbutton svg {
    stroke: #06b6d4 !important;
}

rte-toolbar-dropdown-item {
    color: #000000;
}

.codex-editor__redactor {
    padding: 0 !important;
}

#post .ce-block__content {
    max-width: 85% !important;
}

#single-details  .ce-block__content {
    max-width: 100% !important;
}

#post .ce-toolbar__plus {
    background: #ffffff !important;
}

#post .ce-toolbar__settings-btn {
    background: #ffffff !important;
}

#post .ce-toolbar__actions {
    left: -16% !important;
}

#post .cdx-checklist__item {
    padding-left: 40px;
}

#single-details #content_description h1 {
    font-size: 2em; /* Example size, actual size may vary by browser */
    margin: 0.67em 0; /* Default top and bottom margins */
}

#single-details #content_description h2 {
    font-size: 1.75em;
    margin: 0.75em 0;
}

#single-details #content_description h3 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

#single-details #content_description h4 {
    font-size: 1.25em;
    margin: 1em 0;
}

#single-details #content_description h5 {
    font-size: 1em;
    margin: 1.33em 0;
}

#single-details #content_description h6 {
    font-size: 0.875em;
    margin: 1.67em 0;
}

/* Paragraph */
#single-details #content_description p {
    font-size: 1em; /* Default size */
    margin: 1em 0; /* Top and bottom margins */
    padding: 0; /* No default padding */
}

/* Unordered List */
#single-details #content_description ul {
    font-size: 1em; /* Default size */
    margin: 0; /* Reset margins */
    padding: 0 0 0 20px; /* Reset padding */
    list-style-type: disc; /* Default bullet style */
    list-style-position: outside; /* Bullets outside the content flow */
}

/* Ordered List */
#single-details #content_description ol {
    font-size: 1em; /* Default size */
    margin: 0; /* Reset margins */
    padding: 0 0 0 20px; /* Reset padding */
    list-style-type: decimal; /* Default number style */
    list-style-position: outside; /* Numbers outside the content flow */
}

#single-details #content_description li {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

/* Anchor */
#single-details #content_description a {
    font-size: 1em; /* Default size */
    color: blue; /* Default link color */
    text-decoration: underline; /* Default underline style */
}

/* Images */
#single-details #content_description img {
    display: inline; /* Default display type */
    max-width: 100%; /* Ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
}

/* Table */
#single-details #content_description table {
    border-collapse: separate; /* Default table border model */
    border-spacing: 2px; /* Default spacing between cells */
    width: 100%; /* Default width */
}

#single-details #content_description tr {
    display: table-row; /* Default display type */
}

#single-details #content_description td, #single-details #content_description th {
    display: table-cell; /* Default display type */
    padding: 1px; /* Default padding */
    vertical-align: top; /* Default vertical alignment */
    border: none; /* Default border */
}

#single-details #content_description th {
    font-weight: bold; /* Default bold text */
    text-align: center; /* Default center alignment */
}

/* Forms */
#single-details #content_description input, #single-details #content_description textarea, #single-details #content_description select, #single-details #content_description button {
    font-size: 1em; /* Default size */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
    border: 1px solid #ccc; /* Default border for inputs */
    border-radius: 4px; /* Default border radius */
    box-sizing: border-box; /* Include border and padding in element’s total width and height */
}

/* Button */
#single-details #content_description button {
    background-color: buttonface; /* Default button background color */
    cursor: pointer; /* Default cursor for buttons */
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px !important;
    height: 2px !important;
    background-color: #f6f6f6;
}

@media screen and (max-width: 991px) {
    ::-webkit-scrollbar {
        height: 9px !important;
    }
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2) !important;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f6f6f6;
    opacity: 1;
}

._30o4 {
    color: #fff !important;
}

.custom-editor-body p {
    color: red !important;
}

/*switch toggler*/
.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #06b6d4;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #888888;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #06b6d4;
}

input:checked + .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.border-theme-start {
    border-left: 5px solid #AED725;
    background: #CDCACAB2;
}

